<div id="content">
  <section id="widget-grid" class="">
    <div class="row">
      <!-- NEW WIDGET START -->
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget jarviswidget-sortable" id="wid-id-0" role="widget">
          <header role="heading">
            <span class="widget-icon">
              <i class="fa fa-users"></i>
            </span>
            <h2> User List </h2>

            <span class="jarviswidget-loader">
              <i class="fa fa-refresh fa-spin"></i>
            </span>
          </header>

          <div role="content">
            <div class="widget-body no-padding">
              <div class="lightest-gray-bg">
                <div class="row" style="padding: 8px 12px">
                  <div class="col-md-3">
                    <a type="button" class="btn btn-xs btn-primary">
                      <i class="fa fa-user-plus"> Add user</i>
                    </a>
                  </div>
                </div>
                <div class="row" style="padding: 8px 12px">

                  <div class="col-md-6">
                    <div class="input-group">
                      <div class="icon-addon">
                        <input type="text" id="search" class="form-control" [(ngModel)]="controls.filter" placeholder='Type to filter the table...'
                          (keyup)='updateFilter($event)'>
                        <label style="z-index: 22" for="search" class="fa fa-search" rel="tooltip" title="search"></label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <select class="pull-right form-control " style="width: 70px;" (ngModelChange)="updatePageSize($event)" [(ngModel)]="controls.pageSize">
                      <option>10</option>
                      <option>20</option>
                      <option>30</option>
                      <option>50</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-12">
                  <sa-datatable [options]="{
                    colReorder: true,
                  ajax: 'assets/api/tables/datatables.standard.json',
                  columns: [ {data: 'id'}, {data: 'name'}, {data: 'phone'}, {data: 'company'}, {data: 'zip'}, {data: 'city'}, {data: 'date'} ] }"
                    paginationLength="true" tableClass="table table-striped table-bordered table-hover" width="100%">
                    <thead>
                      <tr>
                        <th data-hide="phone">ID</th>
                        <th data-class="expand">
                          <i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i>
                          Name
                        </th>
                        <th data-hide="phone">
                          <i class="fa fa-fw fa-phone text-muted hidden-md hidden-sm hidden-xs"></i>
                          Phone
                        </th>
                        <th>Company</th>
                        <th data-hide="phone,tablet">
                          <i class="fa fa-fw fa-map-marker txt-color-blue hidden-md hidden-sm hidden-xs"></i>
                          Zip
                        </th>
                        <th data-hide="phone,tablet">City</th>
                        <th data-hide="phone,tablet">
                          <i class="fa fa-fw fa-calendar txt-color-blue hidden-md hidden-sm hidden-xs"></i>
                          Date
                        </th>
                      </tr>
                    </thead>
                  </sa-datatable>
                  <!-- <generic-table #myTable [gtClasses]="'table-sm table-hover'" [gtSettings]="configObject.settings" [gtFields]="configObject.fields" [gtData]="configObject.data"></generic-table>
                  <div class="text-center">
                    <small>
                      <gt-table-info class="form-text text-muted mb-2" [genericTable]="myTable"></gt-table-info>
                    </small>
                    <gt-pagination [gtClasses]="'pagination-sm justify-content-center'" [genericTable]="myTable"></gt-pagination>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
          <!-- end widget div -->

        </div>
        <!-- end widget -->

      </article>
      <!-- WIDGET END -->

    </div>
    <!-- end row -->

    <!-- row -->

    <div class="row">

      <!-- a blank row to get started -->
      <div class="col-sm-12">
        <!-- your contents here -->
      </div>

    </div>

    <!-- end row -->

  </section>
  <!-- end widget grid -->

</div>
